name: MacOS build (Homebrew)

on:
  pull_request:
    branches: [ "master" ]

permissions:
  issues: write
  pull-requests: write
  checks: write

jobs:
  build:

    runs-on: macos-latest

    steps:

    - name: Install dependencies
      run: |
        brew install git gcc cmake 

    - name: Checkout silber repo
      uses: actions/checkout@v3
      with:
        repository: MaksymT17/silber
        ref: ${{ github.head_ref }}  # Use the head reference of the pull request
        path: silber
        fetch-depth: 1

    - name: Build artifacts with Cmake
      run: |
        cd silber &&
        mkdir -p build &&
        cd build &&
        cmake .. &&
        make &&
        ./silber_test

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: silber/build

